$(document).ready(function(){
/*
 var reload_questions = function(){
  var a= $.ajax({url: '/questions', type: 'GET', dataType: 'json'});
  var b = JSON.parse(a.responseText);
  var client_length = $('tr').length -1;
  var diff = server_length - client_lenght;

  if (diff>0){
	for (var i =0; i < server_length; i++){
		if ($('td').text().indexOf(b[i].text)=-1) {
			$('tbody').append('<tr>' + '<td>' + b[i].text +'</td></tr>');
		}
	}
  }
  
  };

 setInterval(reload_questions, 1000);
*/
});
